@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

::selection {
  color: white;
  background: #4353ff;
}
.transparent-bg{
  background-color: transparent !important;
}
.no-border {
  border: none !important;
}
.center{
  text-align: center;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    background-color: rgb(248,248,248);
    height: 100vh;
    margin: 10px;
}
.green{
  background-color: rgba(69,165,135,.25);
}
.brown{
  background-color: rgba(178, 101, 54, 0.274);
}
.pink{
  background-color: rgba(180, 113, 168, 0.315)
}
.section-foot{
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  line-height: 50px;
  font-weight: bolder;
}
.green:hover{
  background-color: rgba(69, 165, 135, 0.37);
}
.brown:hover{
  background-color: rgba(178, 101, 54, 0.397);
}
.pink:hover{
  background-color: rgba(180, 113, 168, 0.384)
}

footer {
    color: white;
    background-color: black;
    height: 80vh;
}


/* 
  two box container:
  width of right box is flexible wrt left box
*/
.two-box-wrapper { 
    border : 2px solid #000; 
    overflow:hidden;
    height: 100%;
  }
  .two-box-wrapper div {
    height: 100%;
    padding: 10px;
  }
  #left-box {
    background-color: gray;
    float:left; 
    margin-right:20px;
    width: 50%;
  }
  #right-box { 
    background-color: white;
    overflow:hidden;
    margin:10px;
    min-height:170px;
  }

/* --------------------------------------
   -------------------------------------- */


.hero-sec{
  background-color: white !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.hero {
    border: 0px solid transparent;
} 
.intro {
    /*border: 1px solid black;*/
    background-color: white !important;
    text-align: center;
    text-align: left;
}
.intro-head h1 {
  padding-left: 120px !important;
  margin-bottom: 10px !important;
  width: 70%;
  font-size: 340%; /*xx-large;*/
  height: fit-content;
}
.intro-desc {
  padding-left: 120px !important;
  width: 60%;
  font-weight: 500;
  opacity: 0.9;
  height: fit-content;
}
.get-started-button {
  padding: 14px;
  font-size: large;
  margin-top: 15px;
  width: 40%;
  background-color: white;
  color: white;
  background: #4353ff;
  border: none;
  outline:none;
}
.intro-img-bg{
  background-color: white !;
}
.intro-img{
  width: 100%;
  height: 70%;
  border: none;
  max-height: 550px;
}



.clients-conatiner{
  position: absolute;
  top: 80vh;
  /*border: 1px solid rebeccapurple;*/
  background-color: white;
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
}
.client {
  height: 44px;
  width: 160px;
  
  background-color: lightgray;
  border: 1px solid lightgray;
  text-align: center;
  line-height: 44px;
  font-weight: bold;
  opacity: 0.7;
  
  margin: 30px;
  margin-top: 50px;
}



.product-sec {
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: 90vw;
  /*height: 80vh;*/
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(135deg,#f8dbd7,#fff2e1) !important;
}
.per30 {
  width: 33% !important;
}
.product-sec h1 {
  font-size: 340%; /*xx-large;*/
  font-weight: bold;
  margin: 0;
  padding-left: 2.5%;
}
.product-sec .desc {
  font-weight: 500;
  height: fit-content;
}
.comment-box {
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: fit-content !important;
  margin-top: 15%;
}
.comment-head{
  font-size: large;
  font-weight: bold;
  opacity: 0.7;
  height: fit-content !important;
}
.comment{
  height: fit-content !important;
  font-size: small;
}
.author{
  display: flex;
}
.author-dp{
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
}
.comment-author{
  font-size: small;
  font-weight: bold;
}
.prod-demo-wrapper{
  height: 100%;
}
.prod-demo {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  height: 350px;
  background-color: black;
}
.prod-demo-desc{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /*border: 1px solid red;*/
  height: 25% !important;
  display: flex;
  text-align: left;
}
.desc-box{
  font-size: small;
}
.desc-box-h {
  font-size: large;
  font-weight: 500;
  height: fit-content !important;
  padding-left: 0 !important;
}




/*@media screen and (max-width: 500px) {*/
@media screen and (max-width: 850px) {
  #left-box { 
    float: none;
    margin-right: 0;
    width: auto;
    border: 0;    
  }
  section {
      height: fit-content;
  }
  .two-box-wrapper {
      height: fit-content;
  }
  .intro-head h1 {
    font-size: 50px;
    padding-left: 25px !important;
  }
  .intro-desc {
    padding-left: 25px !important;
    width: 80%;
  }
  .intro-img {
    border-radius: 6px;
    border: 1px solid lightgray;
  }
  .get-started-button {
    width: 60%;
  }
  .clients-conatiner{
    position: static;
    overflow-x: scroll;
    display: block;
    height: 50vh;
  }
  .client{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .product-sec {
    height: fit-content;
    width: 100vw;
  }
  .per30{
    width: 100% !important;
  }
  .prod-left {
    padding: 0px !important;
  }
  .prod-demo{
    width: 100% !important;
    height: 200px;
  }
  .prod-demo-desc{
    display: block;
    text-align: left;
    width: 90%;
  }
  .section-foot{
    width: 100%;
  }
}






