body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    background-color: rgb(248,248,248);
    height: 100vh;
    margin: 10px;
}

footer {
    color: white;
    background-color: black;
    height: 80vh;
}



/* 
  two box container:
  width of right box is flexible wrt left box
*/
.two-box-wrapper { 
    border : 2px solid #000; 
    overflow:hidden;
    height: 100%;
  }
  .two-box-wrapper div {
    height: 100%;
    padding: 10px;
  }
  #left-box {
    background-color: gray;
    float:left; 
    margin-right:20px;
    width: 50%;
  }
  #right-box { 
    background-color: white;
    overflow:hidden;
    margin:10px;
    min-height:170px;
  }




.hero {
    border: 0px solid transparent;
} 
.intro {
    border: 1px solid black;
    background-color: white !important;
    text-align: center;
    text-align: left;

}
.intro-head h1 {
  padding-left: 120px !important;
  width: 70%;
  font-size: 60px; /*xx-large;*/
  height: fit-content;
}
.intro-desc {
  padding-left: 120px !important;
  width: 60%;
  font-weight: bold;
  opacity: 0.9;
}
.get-started-button {
  padding: 10px;
  font-size: large;
  margin-top: 15px;
  background-color: white;
  border: 1px solid black;
}










@media screen and (max-width: 500px) {
  #left-box { 
  float: none;
  margin-right:0;
  width:auto;
  border:0;
  border-bottom:2px solid #000;    
  }
  section {
      height: 200vh;
  }
  .two-box-wrapper {
      height: fit-content;
  }
  .intro-head h1 {
    font-size: 50px;
    padding-left: 30px !important;
  }
  .intro-desc {
    padding-left: 30px !important;
    width: 80%;
  }
}